<div id="bloquea" class="cargandospinner">
    <div align="center" class="position-absolute top-50 start-50 translate-middle">
        <div class="cssload-container">
            <div class="cssload-zenith fw-bold">
            </div>
        </div>
        <br />
        <p class="text-white fs-6 fw-bold">
            Cargando...
        </p>
    </div>
</div>

@*style="display: none;"*@