<div class="col-md-5 mb-4">
    <div class="form-floating">
        <input type="text" class="form-control is-valid" id="cplInput" placeholder="Código Postal">
        <label for="cplInput" class="fst-italic text-black-50">Código Postal</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <select class="form-select is-invalid state" id="floatingSelectState" aria-label="Estado" required>
            <option selected disabled="disabled" value="0">Seleccione</option>
            <option value="1">Chilpancingo</option>
            <option value="2">Acapulco</option>
            <option value="3">Atoyac</option>
            <option value="4">Zihuatanejo</option>
            <option value="5">Iguala</option>
            <option value="6">Taxco</option>
        </select>
        <label for="floatingSelectState" class="fst-italic text-black-50">Seleccione un Estado</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <select class="form-select is-valid city" id="floatingSelectCyti" aria-label="Ciudad" required>
            <option selected disabled="disabled" value="0">Seleccione</option>
            <option value="1">Chilpancingo</option>
            <option value="2">Acapulco</option>
            <option value="3">Atoyac</option>
            <option value="4">Zihuatanejo</option>
            <option value="5">Iguala</option>
            <option value="6">Taxco</option>
        </select>
        <label for="floatingSelectCyti" class="fst-italic text-black-50">Seleccione una Ciudad</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <select class="form-select is-valid municipio" id="floatingSelectMunicipio" aria-label="Municipio" required>
            <option selected disabled="disabled" value="0">Seleccione</option>
            <option value="1">Chilpancingo</option>
            <option value="2">Acapulco</option>
            <option value="3">Atoyac</option>
            <option value="4">Zihuatanejo</option>
            <option value="5">Iguala</option>
            <option value="6">Taxco</option>
        </select>
        <label for="floatingSelectMunicipio" class="fst-italic text-black-50">Seleccione un Municipio</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <select class="form-select is-valid localidad" id="floatingSelectLocalidad" aria-label="Localidad" required>
            <option selected disabled="disabled" value="0">Seleccione</option>
            <option value="1">Chilpancingo</option>
            <option value="2">Acapulco</option>
            <option value="3">Atoyac</option>
            <option value="4">Zihuatanejo</option>
            <option value="5">Iguala</option>
            <option value="6">Taxco</option>
        </select>
        <label for="floatingSelectLocalidad" class="fst-italic text-black-50">Seleccione una Localidad</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <select class="form-select is-valid colonia" id="floatingSelectcolonia" aria-label="Colonia" required>
            <option selected disabled="disabled" value="0">Seleccione</option>
            <option value="1">Chilpancingo</option>
            <option value="2">Acapulco</option>
            <option value="3">Atoyac</option>
            <option value="4">Zihuatanejo</option>
            <option value="5">Iguala</option>
            <option value="6">Taxco</option>
        </select>
        <label for="floatingSelectcolonia" class="fst-italic text-black-50">Seleccione una Colonia</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-4">
    <div class="form-floating">
        <input type="text" class="form-control is-valid" id="streetInput" placeholder="Calle">
        <label for="streetInput" class="fst-italic text-black-50">Calle</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-4">
    <div class="form-floating">
        <textarea type="text" class="form-control is-valid" id="referenceInput" placeholder="referencia" style="height: 100px"></textarea>
        <label for="referenceInput" class="fst-italic text-black-50">Referencias</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>