@page "/create/customer"

<PageTitle>Creación de Clientes</PageTitle>

<br />
<Card Title="Crear Cliente">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i> Los campos con el <stromg>* son campos obligatorios!</stromg>
            </div>
        </div>
    </div>
    <Accordion IdComponent="accordionExample">
        <AccordionItem IdHeaderAccordion="headingOne" IdCollapse="collapseOne" ActiveCollapsed=""
                       ExpandeArea="true" Title="Datos Personales" ShowCollapse="show"
                       IdAccordionParent="accordionExample">
            <div class="row justify-content-evenly">
                <PersonalInformation></PersonalInformation>
            </div>
        </AccordionItem>

        <AccordionItem IdHeaderAccordion="headingTwo" IdCollapse="collapseTwo" ActiveCollapsed="collapsed"
                       ExpandeArea="false" Title="Datos Domiciliarios" ShowCollapse=""
                       IdAccordionParent="accordionExample">
            <div class="row justify-content-evenly">
                <AddressInformation></AddressInformation>
            </div>
        </AccordionItem>
    </Accordion>
    <br />
    <div class="row">
        <div class="col mb-3">
            <button type="button" class="btn btn-outline-primary shadow-sm rounded" @onclick="@(()=> SaveInformation())"><em class="bi bi-sd-card-fill"></em> Guardar </button>
        </div>

    </div>
</Card>
<style>
    .accordion-button::after {
        background-image: url("../css/imagenes/plus-circle-fill.svg");
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url("../css/imagenes/dash-circle-fill.svg");
        color: #0c63e4;
    }

    .select2-container .select2-selection--single {
        height: 58px;
        padding-top: 1.625rem;
        padding-bottom: 0.625rem;
    }

    .select2 {
        width: 100% !important;
    }
</style>
