<div class="col-md-5 mb-3">
    <div class="form-floating">
        <input type="text" class="form-control is-invalid" id="nameInput" placeholder="Nombre" required>
        <label for="nameInput" class="fst-italic text-black-50">Nombre <strong>*</strong></label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <input type="text" class="form-control is-invalid" id="secondNameInput" placeholder="Segundo Nombre">
        <label for="secondNameInput" class="fst-italic text-black-50">Segundo Nombre</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <input type="text" class="form-control is-invalid" id="lastFirstNameInput" placeholder="Apellido Paterno" required>
        <label for="lastFirstNameInput" class="fst-italic text-black-50">Apellido Paterno<strong>*</strong></label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <input type="text" class="form-control is-invalid" id="lastSecondNameInput" placeholder="Apellido Materno" required>
        <label for="lastSecondNameInput" class="fst-italic text-black-50">Apellido Materno<strong>*</strong></label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <input type="date" class="form-control is-invalid" id="dateAgeInput" placeholder="Fecha de Nacimiento" required>
        <label for="dateAgeInput" class="fst-italic text-black-50">Fecha de Nacimiento<strong>*</strong></label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-4">
    <div class="form-floating">
        <input type="email" class="form-control is-valid" id="emailInput" placeholder="name@example.com">
        <label for="emailInput" class="fst-italic text-black-50">Email address</label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-4">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Cliente Activo</label>
    </div>
</div>
<div class="col-md-5 mb-4">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            Mascúlino
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Femenino
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Otro
        </label>
    </div>
    <div class="form-floating" hidden>
        <textarea class="form-control" placeholder="Otro" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Especifique</label>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <input type="tel" class="form-control is-invalid" id="phoneInput" placeholder="Teléfono" required>
        <label for="phoneInput" class="fst-italic text-black-50">Teléfono<strong>*</strong></label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>
<div class="col-md-5 mb-3">
    <div class="form-floating">
        <input type="text" class="form-control is-invalid" id="RFCInput" placeholder="rfc" required>
        <label for="RFCInput" class="fst-italic text-black-50">RFC<strong>*</strong></label>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Looks bad!
        </div>
    </div>
</div>